$main_bg: #fafafa;
$green: #409b88;
$dark-green: #004b38;
$dark-blue: #0e2447;

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "avenir", 'Raleway', "Karla", "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Lucida Grande", sans-serif;
  background: $main_bg;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@import 'mixins';
@import 'fonts';
@import 'layout';
@import 'header';

.header {
  // font-family: "Brandon", "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Lucida Grande", sans-serif;
  font-size: 70px;
  font-weight: 100;
  color: #444;
  // transition: transform .4s cubic-bezier(1,1,1,1.1);
}
.sub-header {
  font-family: "Karla", "avenir", "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: 400;
  // transition: transform .4s ease-in-out .1s;
}
.description-header {
  font-family: 'brandon', "Helvetica Neue", sans-serif;
  font-size: 28px;
  margin: 20px 0;
  color: #444;
  // transition: transform .4s ease-in-out .2s;
}
.description-body {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  // transition: transform .4s ease-in-out .3s;
}
.description-signature {
  text-align: left;
  margin: 20px auto;
  .avatar {
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid white;
    background-size: cover;
    margin-right: 15px;
  }
  .name {
    font-family: "TitleFont", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: $green;
  }
  .position {
    font-family: 'brandon', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 200;
    margin-top: -8px;
  }
}

.description-signature.annie {
  width: 250px;
  .avatar{
    background-image: url(../assets/images/annie1.jpg);
  }
}

.titlefont {
  font-family: "TitleFont", "Helvetica Neue", sans-serif;
  font-weight: 300;
  // font-weight: 800;
  font-size: 50px;
  position: relative;
  top: -15px;
}

.modal-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255,255,255,.5);
  position: fixed;
  top: 0;
  display: none;
}
.modal {
  .titlefont {
    color: $green;
    font-size: 33px;
  }
  .description-header {
    font-size: 28px;
    font-weight: 200;
  }
  .description-body {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }
  width: 500px;
  padding: 50px 50px;
  background: white;
  box-shadow: 0 0 10px #777;
  position: fixed;
  top: 200px;
  left: calc(50% - 250px);
}
