.projects-section {
  margin-top: 40px;
  background: white;
  padding: 60px 0 80px;
}
.gallery-header.description-header {
}
.gallery-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  background: linear-gradient(to bottom, #fff 0%, $main_bg 100%);
  background: white;
  // background: $dark-blue;
  padding: 5px 0 10px;
  .gallery {
    width: calc(400%);
    overflow: auto;
  }
  .image {
    float: left;
    padding-bottom: 9.2%;
    margin-right: .22%;
    background-position: center;
    &:last-child {
      margin-right: 0;
    }
    &.tall {
      width: 6.2%;
    }
    &.square {
      width: 9.2%;
    }
    &.wide {
      width: 12.2%;
    }
    &.kitchen1 {
      background-image: url(../assets/images/kitchen1.jpg);
      background-size: cover;
    }
    &.kitchen2 {
      background-image: url(../assets/images/kitchen2.jpg);
      background-size: cover;
    }
    &.bedroom1 {
      background-image: url(../assets/images/bedroom1-2.jpg);
      background-size: cover;
    }
    &.bedroom2 {
      background-image: url(../assets/images/bedroom2.jpg);
      background-size: cover;
    }
    &.exterior {
      background-image: url(../assets/images/exterior.jpg);
      background-size: cover;
    }
    &.diningwide {
      background-image: url(../assets/images/diningwide.jpg);
      background-size: cover;
    }
    &.office1 {
      background-image: url(../assets/images/office1.jpg);
      background-size: cover;
    }
    &.office2 {
      background-image: url(../assets/images/office2.jpg);
      background-size: cover;
    }
    &.windowseat {
      background-image: url(../assets/images/windowseat.jpg);
      background-size: cover;
    }
    &.gallerywall {
      background-image: url(../assets/images/gallerywall.jpg);
      background-size: cover;
    }
  }
}

@media (max-width: 1000px) {
  .gallery-container .gallery {
    width: 500%;
  }
}

@media (max-width: 750px) {
  .gallery-container .gallery {
    width: 600%;
  }
}

@media (max-width: 500px) {
  .gallery-container .gallery {
    width: 650%;
  }
}
