.header {
  width: 100%;
  text-align: center;
  height: 100px;
  font-family: 'Raleway';
  position: fixed;
  top: 0;
  z-index: 10;
  background: white;
  height: 120px;
  padding: 25px 20px 10px;
  box-shadow: 0 0 6px #aaa;
  color: #444;
  .title {
    height: 65px;
    font-size: 36px;
    font-weight: 200;
    margin: 0;
    .titlefont {
      color: $green;
      font-size: 32px;
      top: -5px;
    }
  }
  .menu {
    text-align: center;
    font-size: 15px;
    font-family: 'brandon', "Helvetica Neue", sans-serif;
    color: #888;
    font-weight: 200;
    > div {
      display: inline-block;
      margin-right: 40px;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid $green;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    height: 90px;
    padding: 17px 0 0;
    .title {
      height: 48px;
      font-size: 26px;
      .titlefont {
        font-size: 22px;
      }
    }
    .menu {
      font-size: 13px;
      > div {
        margin-right: 12px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
